*{
	background: linear-gradient(#f98277, #f9b376,#f9f476,#8ef976,#76cff9,#9f76f9);

}

.wrapper {
	max-width: 80%;
	border: 1px solid red;
	margin: 0 auto;
	
}

header {
	display: flex;
	justify-content: center;
	flex-flow: column nowrap;
	background:rgba(255,255,255, 0.5);
}

.headerimage {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	background-color: none;
	max-width: 100%;
}

section {
	display: flex;
	justify-content: center;
	flex-flow: column nowrap;
	align-items: center;
	background:rgba(255,255,255, 0.5);

}

.covers {
	max-width: 100%;
}

h1{
	background: none;
	font-family: 'Galdeano', sans-serif;
	color: #5f5f60;
	font-size: 5em;
	text-align: center;
	
}

h2 {
	background: none;
	font-family: 'Galdeano', sans-serif;
	color: #5f5f60;
	font-size: 2em;
}
p {
	background: none;
	font-family: 'Galdeano', sans-serif;
	color: #5f5f60;
	font-size: 1.5em;
	line-height: 1.75;
	text-align: center;
}


@media (min-width: 500px;) {
	display: block;
	margin: auto;
	width: 40%;
	
}
